body {
  font-family: 'Gill Sans MT', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#banner {
  order: 0;
  background-color: #ddd;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  min-width: 300px;
}

.info {
  text-align: right;
}

.logo {
  display: block;
  height: 40px;
  margin: 20px;
  width: auto;
}

.name, .project {
  display: block;
  text-align: right;
  font-weight: lighter;
  text-transform: uppercase;
  color: #2d3c49;
  margin-right: 20px;
}

#operation {
  order: 1;
  background-color: #aaa;
  width: 100%;
  min-width: 300px;
  /* height: 60px; */
}

li {
  display: inline-block;
}

button {
  background-color: transparent;
  cursor: pointer;
  font-weight: bolder;
}

.infoaction {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.starUpper {
  width: 27px;
}

.timeval {
  margin-left: 20px;
}

#dummyFrameLeft {
  order: 2;
}

#gameCanvas {
  order: 3;
  background-color: lightblue;
  min-width: 300px;
}

#dummyFrameRight {
  order: 4;
}

#reportCanvas {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: white;
  opacity: 0.7;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

#reportPop {
  position: absolute;
  top: 40%;
  left: 28%;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 5px 5px 0px 0px #ddd;
  padding: 0 8px 0 8px;
  width: 38%;
  min-width: 240px;
  /* height: 220px; */
  background-color: white;
  opacity: 0.95;
}

.congrats {
  font-size: 150%;
}

.reportPop {
  display: block;
}

.reportContent {
  font-size: 110%;
}

.gameRating, .reportButton {
  list-style-type: none;
  padding-left: 0;
}

.star {
  width: 35px;
}

.ok, .restart {
  width: 70px;
  height: 35px;
  margin: 5px;
}

.gameTable {
  display: block;
  background-color: white;
}

.cell {
  cursor: pointer;
  margin: 0;
  border: 2px solid white;
  border-radius: 15px;
  border-collapse: separate;
  background: -webkit-radial-gradient(lightblue, lightblue, #3080ff);
  background: -moz-radial-gradient(lightblue, lightblue, #3080ff);
  background: radial-gradient(lightblue, lightblue, #3080ff);
  background-color: lightblue;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cell:hover {
  background: -webkit-radial-gradient(transparent, transparent, #3060ff);
  background: -moz-radial-gradient(transparent, transparent, #3060ff);
  background: radial-gradient(transparent, transparent, #3060ff);
}

.solved {
  background: -webkit-radial-gradient(green, #60f050, #eaf0ea);
  background: -moz-radial-gradient(green, #60f050, #eaf0ea);
  background: radial-gradient(green, #60f050, #eaf0ea);
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
}

.solved:hover {
  background: -webkit-radial-gradient(green, #60f050, #c0f0c0);
}

.correct, .correct:hover {
  background: -webkit-radial-gradient(green, #60f050, #eaf0ea);
  -webkit-animation: myrotation 1s infinite;
}

.wrong, .wrong:hover {
  background: -webkit-radial-gradient(red, #ff9090, #ffd0d0);
  -webkit-animation: mynod 0.2s infinite;
}

.cellImg {
  /* width: 100%; */
}

.rotation {
  -webkit-animation: mynod 1.6s infinite;
}

@-webkit-keyframes mynod {
  0% {
    -webkit-transform: rotate(-30deg)
  }
  50% {
    -webkit-transform: rotate(30deg)
  }
  100% {
    -webkit-transform: rotate(-30deg)
  }
}

@-webkit-keyframes myrotation {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(720deg)
  }
}

@media screen and (max-width: 466px) {
  .cell {
    width: 67px;
    height: 67px;
  }
  .cellImg {
    width: 40px;
    height: 40px;
  }
  #reportPop {
    position: absolute;
    top: 32%;
    left: 16%;
  }
  .name, .project {
    display: none;
  }
  .logo {
    height: 24px;
  }
  .starUpper, .star {
    width: 23px;
  }
  .timeval {
    margin-left: 10px;
  }
  .congrats {
    font-size: 120%;
  }
  .reportContent, span {
    font-size: 90%;
  }
  button {
    font-size: 70%;
  }
  .ok, .restart {
    width: 70px;
    height: 30px;
  }
  #reportPop {
    min-width: 180px;
    /* height: 200px; */
  }
}

@media screen and (min-width: 466px) and (max-width: 600px) {
  .cell {
    width: 100px;
    height: 100px;
  }
  .cellImg {
    width: 60px;
    height: 60px;
  }
  #reportPop {
    position: absolute;
    top: 40%;
    left: 24%;
  }
  .name {
    display: none;
  }
  .project {
    display: run-in;
  }
  .logo {
    height: 24px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .cell {
    width: 130px;
    height: 130px;
  }
  .cellImg {
    width: 80px;
    height: 80px;
  }
  .name, .project {
    display: run-in;
  }
  .logo {
    height: 40px;
  }
  span {
    font-size: 110%;
  }
  .congrats {
    font-weight: bold;
  }
}

@media screen and (min-width: 1001px) {
  .cell {
    width: 185px;
    height: 185px;
  }
  .cellImg {
    width: 110px;
    height: 110px;
  }
  .logo {
    height: 40px;
  }
  .starUpper {
    width: 32px;
  }
  span, button {
    font-size: 120%;
  }
  .congrats {
    font-size: 200%;
    font-weight: bold;
  }
  .reportContent {
    font-size: 130%;
  }
  .ok, .restart {
    width: 95px;
    height: 40px;
    margin: 10px;
  }
}
